@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  text-align: left;
  color: #3b3d42;
  background: #ffffff;
}

p {
  color: #929295;
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.home .entry-title {
  display: none;
}

header {
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding: 34px 0px 30px 0px; */
  z-index: 2;
  position: relative;
}

.hero h1 {
  font-size: 144px;
  line-height: 1em;
  letter-spacing: 0px;
  color: #fff;
}

.hero h1:nth-child(2) {
  color: #000;
}
