@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Pacifico', cursive; */

body {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  text-align: left;
  color: #3b3d42;
  background: #ffffff;
}

p {
  color: #929295;
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
}

a,
a:focus,
a:active {
  color: #060617;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.home .entry-title {
  display: none;
}

header.site-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 34px 0px 30px 0px;
  z-index: 2;
  position: relative;
}

.site-title a,
.footer .site-title a {
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: white;
  font-size: 38px;
  line-height: 42px;
}

.menu-menu-1-container {
  display: flex;
  justify-content: flex-end;
}

.main-navigation a {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.6em;
  letter-spacing: 0.025em;
  color: #fff;
  padding: 0;
  margin: 6px 0 6px 59px;
}

.main-navigation li.current-menu-item a,
.main-navigation a:hover {
  color: #ffdc99;
}

.breadcrumbs {
  font-family: "Poppins", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: 0px;
  color: #fff;
}

.hero h1 {
  font-size: 144px;
  line-height: 1em;
  letter-spacing: 0px;
  color: #fff;
}

.hero h1:nth-child(2) {
  color: #000;
}

.box-count {
  font-weight: bold;
  text-transform: uppercase;
  color: #96969e;
  font-family: "Poppins", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.box-heading a {
  color: #060617;
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.25em;
  letter-spacing: 0px;
}

.box-heading a:hover {
  color: #ef4464;
}

.showcase-box h3 a {
  color: #393948;
  font-family: "Poppins", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0px;
}

.showcase-box h3 a:hover {
  color: #ef4464;
}

.showcase-box p {
  color: #929295;
  font-family: "Raleway", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.testimonial {
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0px;
}

.premium-blog-excerpt-link {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0px;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #ef4464;
  color: #060617;
}

.premium-blog-excerpt-link:hover {
  border-color: #060617;
}

.elementor-accordion-item {
  border-bottom-width: 1px !important;
  border-color: #e8e8f6 !important;
  padding: 17px 0px 20px 0px;
}

.elementor-element .gallery {
  display: flex;
  gap: 0;
}

footer.site-footer {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  background-color: #181818;
  padding: 99px 0px 95px 0px;
}

.footer h5 {
  font-family: "Poppins", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #fff;
}

.footer ul {
  margin: 0;
}

.wp-block-latest-posts__post-title {
  font-family: "Raleway", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.wp-block-latest-posts__post-title:hover {
  color: #ec4364;
}

.wp-block-latest-posts__post-excerpt {
  color: #929295;
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 25px 0px;
}

.sb_instagram_header {
  display: none;
}
